<launch>

    <group ns="robot_0">
        <param name="robot_id" value="1" />
        <param name="tf_prefix" value="robot_0"/>
        <rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

        <!-- Start the Navigator to move the robot autonomously -->
        <node name="Navigator" pkg="nav2d_navigator" type="navigator">
            <rosparam file="$(find nav2d_tutorials)/param/navigator.yaml" command="load" />
        </node>

        <node name="Explore" pkg="nav2d_navigator" type="explore_client" />
        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />

    </group>

</launch>
